
<div class="container color-dark">
<div class="col">
	<p>Add a bucket list item</p>
</div>
<div class="col">
	<p>Your Bucket list ({{ itemCount }})</p>
 </div>
</div>
<div class="container color-light">
<div class="col">
	<p class="sm">Use this to add list</p>
 
 <form>
 	<input type="text" class="txt" name="item" placeholder="Life goal.."[(ngModel)]="goalText">
 	<input type="submit" name="btn" [value] ="btn" (click)="addItem()">
 </form>
</div>
<div class="col">
	<p class="Life-container" ngFor="let goal of goals">
		
	</p>
 </div>
</div>